body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: rgb(161, 185, 252);
    color: black;
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
.name {
    align-items: right;
    font-size: 2rem;
    margin: 0 auto;
    margin-right: 0;
    font-family: 'Times New Roman', Times, serif;
}

.det {
    list-style: none;
    padding: 0;
    text-align: end;
}
.det a {
    color: black;
    text-decoration: none;
    transition: color 0s;
}

.det a:hover {
    text-decoration: underline;
    color: blue;
}

.address {
    position: relative;
}

.add_details {
    list-style: none;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    background-color: rgb(221, 229, 251);
    z-index: 1;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 2rem 0 2rem 1rem;
}

.address:hover .add_details {
    display: block;
}

main img {
    display: block;
    height: 200px;
    border-radius: 25px;
    margin: 0 auto;
}

.intro {
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.skills {
    display: flex;
    gap: 3rem;
}

.skill-details h4 {
    font-style: italic;
    padding: 0.5rem 1rem ;
    background-color: rgb(221, 229, 251);
    border-radius: 50px;
    margin-bottom: 0.5rem;
}

.skill-details ul {
    padding: 1.5rem;
}

.skill-details li {
    padding: 0.2rem 0;
}

.marks th,
.marks td,
.marks {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0 2rem;
    table-layout: fixed;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
}
.marks th {
    font-weight: bold;
    background-color: rgb(221, 229, 251);
}

footer {
    background-color: rgb(161, 185, 252);
    color: black;
    text-align: center;
}

.social-links a {
    color: black;
    padding: 1rem;
    text-decoration: none;
}

.social-links a:hover {
    color: blue;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
    }
    main img{
        margin-bottom: 1rem;
    }
    .skills {
        flex-direction: column;
}
    .marks{
        display: inline;
    }
    
}
